.sign-img{
    /* width:0rem; */
    justify-content: center;
    /* background-color: red; */
    margin:55px 0px;
    padding:48px 0px;
}

 @media (max-width:900px){
    .sign-img{
        /* width:200rem; */
        height:15rem;
        margin:20px 0;
        padding:20px 0;
    }
  }